
#
# Ansible SSH Connection
#

ansible_user: username
ansible_become: true
ansible_become_pass: password123


#
# Web Server Common 
#

webserver_type: nginx   # nginx(default) or apache

webserver_sitename: mysite.example.com
webserver_email: example@example.com

apache_user: www-data
apache_group: www-data


# 
# MariaDB
#

db_service: mysql
db_port: 3306

db_name: drupal
db_user: drupal_user
db_user_password: password123
db_user_perms: SELECT,INSERT,UPDATE,DELETE,CREATE,DROP,INDEX,ALTER,CREATE TEMPORARY TABLES,LOCK TABLES

db_root_password: password123


#
# Drupal
#

drupal_base_path: /var/www/drupal9

drupal_sitename: Drupal Test Site
drupal_email: example@example.com
drupal_region: en

drupal_admin: admin
drupal_admin_password: password123

# You must uncomment a setting in roles/drupal/tasks/03_configure_d8_files_settings.yml for this variable to be used. 
# Disabled by default as it makes the site unreachable if the hostname is not set correctly upfront.
drupal_trusted_host_pattern: ^mysite\.example\.com$   # regular expression


#
# Drupal Modules
#

drupal_install_modules:
    - token
    - schema_metatag
    - ctools
    - pathauto
    - metatag

drupal_enable_modules:
    - token
    - schema_metatag
    - ctools
    - pathauto
    - metatag    
