
#
# Ansible SSH Connection
#

ansible_user: username
ansible_become: true
ansible_become_pass: password123


#
# Web Server Selector (apache or nginx)
#

web_server: apache   # apache by default, or swtich to nginx


#
# Apache2
#

apache_group: www-data

apache_sites_available: /etc/apache2/sites-available
apache_sites_enabled: /etc/apache2/sites-enabled


#
# Nginx
#


# 
# MariaDB
#

db_service: mysql
db_port: 3306

db_name: drupal8
db_user: drupal_user
db_user_password: password123
db_user_perms: SELECT,INSERT,UPDATE,DELETE,CREATE,DROP,INDEX,ALTER,CREATE TEMPORARY TABLES,LOCK TABLES


#
# Drupal
#

drupal_base_path: /var/www/drupal8

drupal_trusted_host_pattern: ^sub\.domain\.com$

drupal_sitename: Drupal Test Site
drupal_email: test@test.org
drupal_region: en
drupal_profile: standard

drupal_admin: admin
drupal_admin_password: password123


#
# Drupal Modules
#

drupal_install_modules:
    - token
    - schema_metatag
    - ctools
    - pathauto
    - metatag

drupal_enable_modules:
    - token
    - schema_metatag
    - ctools
    - pathauto
    - metatag    
