[defaults]
inventory = hosts
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
retry_files_enabled = False
forks = 10
display_skipped_hosts = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
