<VirtualHost *:80>

	ServerName {{ webserver_sitename}}

	ServerAdmin {{ webserver_email}}
	DocumentRoot {{ drupal_base_path }}

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	<Directory {{ drupal_base_path }}>
 		AllowOverride All
	</Directory>

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet